.social-icon {
  padding: 10px 5px;
}
.social-icon.is-twitter {
  background: #55acee;
}
.social-icon.is-facebook {
  background: #3b5998;
}
.social-icon-1 {
  padding: 10px 5px;
}
.social-icon-1.is-twitter {
  background: #55acee;
}
.social-icon-1.is-facebook {
  background: #3b5998;
}
@media (max-width: 640px) {
  .social-icon {
    padding: 0;
  }
  .social-icon-1 {
    padding: 0;
  }
}