@define-mixin social-icon $network, $color {
  &.is-$network {
    background: $color;
  }
}
.social-icon {
  @mixin social-icon twitter,  #55acee;
  @mixin social-icon facebook, #3b5998;
  padding: 10px 5px;
  @media (max-width: 640px) {
    padding: 0;
  }
}
.social-icon-1 {
  @mixin social-icon twitter,  #55acee;
  @mixin social-icon facebook, #3b5998;
  padding: 10px 5px;
  @media (max-width: 640px) {
    padding: 0;
  }
}